.image-container {
    width:auto;
    height:300px;
    border-radius: 10px 10px 0 0;
    /* background-image: url('../../public/lenina.webp'); */
    background-size:cover;
    background-repeat: none;
    background-position: top left;
    margin-top:-20px;
    margin-left:-20px;
    margin-right:-20px;

    display:flex;
    flex-direction : row; 
    justify-content:space-between;
    align-items:center;    
    
    transition: 0.5s;
}

.arrow {
    filter : invert(100%) sepia(12%) saturate(1192%) hue-rotate(291deg) brightness(109%) contrast(65%);
}

.arrow:hover {
    transition: 1s ease-in-out;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}