.user-info {
    border-bottom: solid grey 2px;
}

.card {
    
    background-color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    display:flex;
    flex-direction:column;
    width:275px;
    height:auto;
    padding: 20px 20px;
    margin: 10px 0px;
    border-radius :10px;

    box-shadow : 3px 3px 10px 1px rgb(1, 85, 81)
}

.basic-info {
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    margin-top : 15px;
}

.name {
    font-weight: 700;
    font-size: 1.7em;
    margin-right:10px;
}

.age {
    font-size: 1.4em;
    font-weight:500;
}

.location {
    display:flex;
    align-items:flex-end;
    margin-bottom:10px;
}

.location > #location-icon {
    margin-left:-5px;
    margin-right: 5px;
}

.demographics {
    margin-bottom: 10px;
}

.quote {
    font-style:italic;
    color:grey;
    font-size:0.9em;
    margin: 10px 0px;
}
